<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= currentUser.username %>'s dashboard</title>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/superhero/bulmaswatch.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<header>
    <nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <p class="title is-size-4 has-text-light maintitle">
                    GrandMa's Kitchen
                </p>
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item has-text-6 has-text-success connected-user" href="/dashboard">
                    Logged as <%= currentUser.username.toUpperCase() %>
                </a>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <a class="button is-outlined is-light" href="/dashboard/myrecipes">
                        Recipes
                    </a>
                </div>
                <div class="navbar-item">
                    <a class="button is-outlined is-light" href="/favorites">
                        Favorites
                    </a>
                </div>
                <div class="navbar-item">
                    <a class="button is-outlined is-light" href="/schedule">
                        Schedule
                    </a>
                </div>
            </div>
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-outlined is-danger" href="/about">
                        About
                    </a>
                    <a class="button is-outlined is-warning is-rounded" href="/logout">
                        Log out
                    </a>
                </div>
            </div>
        </div>
        </div>
    </nav>
</header>

<body>
    <section class="section has-text-centered">
        <h1 class="title has-text-centered has-text-primary is-size-1"><%= recipe.name.toUpperCase();%><p
                class="subtitle has-text-light is-size-3">Add new ingredient</p>
        </h1>
        <figure class="image is-256x256 is-inline-block has-text-centered">
            <img src="<%= recipe.image %>" alt="recipe image">
        </figure>
    </section>
    <div class="columns">
        <div class="column is-offset-one-quarter is-half">
            <form action="/dashboard/myrecipes/<%= recipe._id %>" method="POST">
                <div class="field">
                    <div class="control">
                        <label class="label has-text-centered">
                            ingredient name :
                        </label>
                        <input type="text" name="name" class="input" required>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <label class="label has-text-centered">
                            Best Dish With :
                        </label>
                        <input type="text" name="dish" class="input" required>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <label class="label has-text-centered">
                            Quantity :
                        </label>
                        <input type="text" name="quantity" class="input" required>
                    </div>
                </div>
                <div class="field is-grouped is-grouped-centered">
                        <button type="submit" class="button is-success">
                            submit
                        </button>
                </div>
            </form>
        </div>
    </div>
</body>